<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538072901814-v6tv9ifm5r5bk7d6dioenk0vjjdv6b91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538072901814-v6tv9ifm5r5bk7d6dioenk0vjjdv6b91</string>
	<key>API_KEY</key>
	<string>AIzaSyCV2ZrJx_oNNVwYbq_Q01c09svG4Eqwkww</string>
	<key>GCM_SENDER_ID</key>
	<string>538072901814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rebeloper.FirebaseSwift5Result</string>
	<key>PROJECT_ID</key>
	<string>fir-swift-5-result</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-swift-5-result.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538072901814:ios:0909ab269643471c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-swift-5-result.firebaseio.com</string>
</dict>
</plist>